.contact
{
    background-color: #222;
    width: 100%;
    height: 980px;
}

p.mail
{
    font-size:24px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
}

p.mail:hover a:hover
{
    color: #2ba6cb !important;
}

.icon-footer
{
    width: 35px;
    margin-top: 100px;
    opacity: 0.8;

}


.name-footer
{
    color: #FBFAF9;
    margin-top: -35px;
    opacity: 0.8;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 12px;
    letter-spacing: 1px;

}

.hr-footer
{
    align-items: center;
    border-bottom: 2px solid #444444;
    display: flex;
    height: 24px;
    margin-top: -45px;

}

.icon-footer:hover, .name-footer:hover, .mail-footer:hover a:hover
{
    opacity: 1 !important;
}

.contact p
{
    color: #FBFAF9;
}


p.reserved
{
    font-size: 14px;
    opacity: 1;
    color: #888888;
    letter-spacing: 2px;
}

.nav-text
{
    font-size: 10px;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    color: #888888 !important;
    top: -10px;
    position: relative;
    width: 150%;
    padding-bottom: 20px;
    border-bottom: 2px solid #444444;
}

.navigation2-footer
{
    font-size: 17px;
    float: right;
    color: #FBFAF9;
    margin-right: 20%;
    margin-top: -50px;
}

.navigation2-footer a
{
    margin-bottom: 12px;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: #FBFAF9;
    opacity: .8;
    line-height: 2;
    letter-spacing: 1px;
}

.navigation2-footer:hover a:hover
{
    opacity: 1;
}

.navigation-footer
{
    font-size: 17px;
    float: right;
    color: #FBFAF9;
    margin-right: 10%;
    margin-top: -50px;
}

.navigation-footer a
{
    margin-bottom: 12px;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    color: #FBFAF9;
    opacity: .8;
    line-height: 2;
    letter-spacing: 1px;
}

.navigation-footer:hover a:hover
{
    opacity: 1;
}


h6
{
    color: #fff;
    margin-top: 130px;
    text-align: center;
    width: 100%;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

h6 span
{
    font-weight: 500;
}

.icon-mail
{
    color: #fff;
    font-size: 26px;
}


@media screen and (max-width:1000px) {
    .icon-mail{
        line-height: 41px;
    }

    p.reserved
    {
        margin-left: 0;
        text-align: center;
    }

    h6
    {
        font-size: 20px;
    }

    .footer
    {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 30%;
    }

    .block
    {
        margin: 0;
    }

    .navigation-footer, .navigation2-footer
    {
        float: none;
        margin-top: 75px;
    }

    .nav-text
    {
        width: 90%;
    }

    .contact
    {
        height: 1510px;
    }

    .name-footer
    {
        margin-left: 55px;
    }

    .hr-footer
    {
        margin-left: 0;
        width: 80%;
    }

    .block2
    {
        margin-top: 75px;
    }

    p.reserved
    {
        margin-top: 150px;
    }
    .mail-footer
    {
        margin-left: 0;
    }
}

@media screen and (min-width:1001px) {
    .icon-mail{
        line-height: 46px;
    }

    .icon-footer
    {
        margin-left: 180px;
    }

    .name-footer
    {
        margin-left: 225px;
    }

    .hr-footer
    {
        margin-left: 180px;
        width: 17%;
    }

    p.reserved
    {
        margin-left: 180px;
        margin-top: 250px;
    }

    h6
    {
        font-size: 28px;
    }

    .mail-footer
    {
        margin-left: 180px;
    }


}