
.offer
{
    background-color: #1D6E86;
    width: 100%;
}


.icon-pencil-4
{
    color: #fff;
    margin: 0 4px 0 4px !important;
}


.all-stuff
{
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.stuff
{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
}

.stuff-top
{
    text-align: center;
    margin-top: -30px;
}


.stuff-top::before, .stuff-top::after {
    width: 32.2%;
    height: 1px;
    display: inline-block;
    content: '';
    border-top: 1px solid #fff;
    padding-top: 1.5em;
}


.all-stuff h5
{
    color: #f8f8f8;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.all-stuff h5 span
{
    color: #fff;
    font-weight: 700 !important;
}

.stuff-text
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    font-weight: 300;
}

.html5, .css3
{
    width: 51px;
    height: 55px;
}

.psd
{
    width: 55px;
    height: 57px;
    margin: 0 4.1% 0 4.1%;
}
h2
{
    float: left;
    border-right: 2px solid #fff;
    margin: 0;
    color: #fff;
}


@media screen and (max-width:810px) {
    h2 {
        font-size: 22px;
        padding: 0 25px 0 22px;
        line-height: 41px;
    }

    .icon-pencil-4 {
        line-height: 41px;
        font-size: 25px;
    }

    .all-stuff
    {
        flex-direction: column-reverse;
    }

    .stuff
    {
        padding: 0;
        margin: 100px 8% 0 8%;
    }

    .stuff-top
    {
        margin-left: 0;
        margin-right: 0;
    }

    .offer
    {
        height: auto;
        padding-bottom: 100px;
    }

    .html5
    {
        margin: 0 4.4% 0 4.4%;
    }
}

@media screen and (min-width:811px) {
    h2 {
        font-size: 27px;
        padding: 9px 22px 9px 22px;
    }

    .icon-pencil-4 {
        line-height: 52px;
        font-size: 26px;
    }

    .stuff {
        padding-left: 15px;
        padding-right: 15px;
        margin: 50px 35px 0 35px;
        padding-bottom: 5px;
    }
    .stuff-top {
        margin-left: -10.5%;
        margin-right: -10.5%;
    }

    .offer
    {
        padding-bottom: 80px;
    }

    .html5
    {
        margin: 0 4.8% 0 4.8%;
    }
}