@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?92904242');
  src: url('../font/fontello.eot?92904242#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?92904242') format('woff2'),
       url('../font/fontello.woff?92904242') format('woff'),
       url('../font/fontello.ttf?92904242') format('truetype'),
       url('../font/fontello.svg?92904242#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92904242#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-group-circled:before { content: '\e800'; } /* '' */
.icon-group:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-help-circled-1:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-users:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-pencil-1:before { content: '\e809'; } /* '' */
.icon-pencil-2:before { content: '\e80a'; } /* '' */
.icon-brush-1:before { content: '\e80b'; } /* '' */
.icon-brush-2:before { content: '\e80c'; } /* '' */
.icon-brush-alt:before { content: '\e80d'; } /* '' */
.icon-user-1:before { content: '\e80e'; } /* '' */
.icon-user-2:before { content: '\e80f'; } /* '' */
.icon-pencil-3:before { content: '\e810'; } /* '' */
.icon-pencil-4:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-right-open-1:before { content: '\e813'; } /* '' */
.icon-right-open-2:before { content: '\e814'; } /* '' */
.icon-right-open-mini:before { content: '\e815'; } /* '' */
.icon-right-open-3:before { content: '\f006'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */