
.icon-group-circled:before { content: '\e800'; } /* '' */
.icon-group:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-help-circled-1:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-users:before { content: '\e806'; } /* '' */
.icon-user:before { content: '\e807'; } /* '' */
.icon-pencil:before { content: '\e808'; } /* '' */
.icon-pencil-1:before { content: '\e809'; } /* '' */
.icon-pencil-2:before { content: '\e80a'; } /* '' */
.icon-brush-1:before { content: '\e80b'; } /* '' */
.icon-brush-2:before { content: '\e80c'; } /* '' */
.icon-brush-alt:before { content: '\e80d'; } /* '' */
.icon-user-1:before { content: '\e80e'; } /* '' */
.icon-user-2:before { content: '\e80f'; } /* '' */
.icon-pencil-3:before { content: '\e810'; } /* '' */
.icon-pencil-4:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-right-open-1:before { content: '\e813'; } /* '' */
.icon-right-open-2:before { content: '\e814'; } /* '' */
.icon-right-open-mini:before { content: '\e815'; } /* '' */
.icon-right-open-3:before { content: '\f006'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */